.nav {
    background-color: aqua;
    /* grid-area: n; */
    width: 200px;
    padding: 30px;
}

.item a {
    color: rgb(19, 116, 40);
    text-decoration: none;
    margin: 30px;
    padding: 5px;
    font-size: 19px;
}